TELEGRAM_BOT_TOKEN=7021807722:AAEkNxdkMffgfdRhTKWBHnhiIvKAmNTM1Ok

GITHUB_TOKEN=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
GITHUB_OWNER=slamonmudi-cell
GITHUB_REPO=Telegram-IPA-Builder
GITHUB_DEFAULT_BRANCH=main

ALLOWED_TELEGRAM_USER_IDS=1910764101
MAX_ZIP_MB=100
MAX_UNPACKED_MB=500
MAX_FILES=1200
BUILD_TIMEOUT_MINUTES=35
TELEGRAM_MAX_UPLOAD_MB=100
